<!DOCTYPE html>
<html ng-app="githubViewer" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.js"></script>
		<script src="script.js" type="text/javascript" charset="utf-8" async defer></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<title>GitHub Lookup</title>

		<!-- Bootstrap CSS -->
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		
		<style>
		footer{
		padding-top: 150px;
		}
		</style>
		<link rel="shortcut icon" href="icon1.ico">
	</head>
	<body data-spy="scroll" data-target="#my-navbar">

	<!--navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button> 

		<a href="https://github.com" target="#" class="navbar-brand">Go GitHub!</a>	
		</div><!--navbar header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">
		<a href="" class="btn btn-info navbar-btn navbar-right">Download App!</a>

		<ul class="nav navbar-nav">
			<li><a href="#contact">Contact Us</a>		
		</ul>			
		</div>		
	</div><!--end container-->
</nav><!--end navbar-->

<div class="jumbotron">
	<div class="container text-center ">
		<h1>GitHub Lookup</h1>
		<p>Light-weight Simplified Search for GitHub projects</p>
	</div><!--end container-->
</div> <!--end jumbotron-->
		<div ng-controller="UserController">

<!--search form starts-->
<div class='container text-center'>
	<!--call to action-->
<section>
		<div class="container text-center">
			<form action="" class="form-inline">
				<div class="form-group">
				<!-- <label for="subscription">Subscribe</label> -->
				<input type="text" class="form-control" id="subscription" placeholder="Enter a keyword.." ng-model="fname">
				</div>
				<button type="button" class="btn btn-info" ng-click="fun()">Search</button>
			</form>
		</div><!--end container-->
</section><!--Ends call to action-->
</div><!--end container-->


		<div class="container">          
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Avatar</th>
		        <th>User</th>
		        <th>Description</th>
		        <th>Last Update</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="x in person.items">
		        <td><img src="{{x.owner.avatar_url}}" height="30" width="30"/></td>
		        <td><a href="{{x.html_url}}">{{ x.owner.login }}</a></td>
		        <td>{{x.description}}</td>
		        <td>{{x.updated_at}}</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</div>

	<!--footer-->
	<footer>
	<hr>
			<div class="container text-center">
			<ul class="list-inline">
				<li><a href="#">Youtube</li>
				<li><a href="#">Github</li>
				<li><a href="#">Facebook</li>	
			</ul>
		
			 <p>&copy; Copyright @ 2014</p>

		</div><!--end container-->
	</footer>

		<script src="http://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>